# NodeOS
#
# Copyright (c) 2013-2017 Jacob Groundwater, Jesús Leganés-Combarro 'piranna'
# and other contributors
#
# MIT License

node_modules/
npm-debug.log
.vagga/
.vagrant/
build/
deps/
out/
prebuilds/
